{% load static %}

{% include 'admin/admin_navbar.html' %}

<style>
    .date-time {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        color: #404040;
        text-align: right;
        margin-right: 2em;
    }
    
    .centered-div{
        background-color: yellow;
        margin: 7% 10%;
        min-height: 270px;
    }
</style>

{% block content %}

<p class="date-time">Today is {date} {time}</p>

<div class="centered-div">
    <div>
        hi
    </div>
    Student Answers
</div>

{% endblock %}