{% load static %}
<html>

<head>
<title>Landing Page</title>
</head>


<style>
    body{
        margin:0px;
    }
    
    .nav-bar{
        background-color: aqua;
        height: 3em;
    }

    .try-em{
        font-size: 1.5em;
    }

    .login-btn{
        padding: 1em 2em;
    }
</style>

<body>

<div class="nav-bar">
    <div>
        <p class="try-em">Hello sana gumana ka</p>
    </div>
    <div>
        <button class="login-btn">Log in</button>
    </div>
</div>
    

hello, this is just a landing page    <a href="{% url 'login' %}"> login  </a> <br>  
    <img src="{% static 'image/unknown.png' %}">


</body>
</html>